.containerV {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* default is row */
}

.boxV {
  width: 90%;
  /* height: 200px; */
  background-color: #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.boxV1 {
  margin-top: 80px;
  order: 1;
  height: 80px;
}

.boxV2 {
  order: 2;
  height: 600px;
}

.boxV3 {
  order: 3;
  height: 80px;
}
.containerH {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* padding-top: 0%; */
}

.boxH {
  width: 150px;
  /* height: 180px; */
  background-color: #8eddf5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 0%; */
}

.boxH1 {
  order: 1;
  height: 600px;
}

.boxH2 {
  order: 2;
  height: 600px;
}

.boxH3 {
  order: 3;
  height: 600px;
}
